Source: wilc
Section: kernel
Priority: optional
Maintainer: Michael Walton <mike@farsouthnet.com>
Build-Depends: debhelper (>> 9), bzip2
Standards-Version: 3.9.4

Package: wilc-source
Section: devel
Architecture: all
Depends: module-assistant:arm64, debhelper (>> 9), make:arm64, bzip2, build-essential:arm64
Description: Source for AT WILC drivers
 This package provides the source code for the WILC1000/3000 WiFi drivers
